.collection-buttons {
    white-space: nowrap;
}

#filter_input {
    position: fixed;
    top: 94px;
    right: 10%;
}

#waiting {
    position: fixed;
    top: 40%;
    left: 38%;
    max-width: 300px;
    margin: auto;
    background-color: white;
    border-style: solid;
    border-color: #005a9a;
    text-align: center;
    font-weight: bold;
    padding: 5px;
    display: none;
    ;
}
#tapping {
    margin-top: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}
#header {
    position: fixed;
    background-color: white;
    top: 0px;
    width: 100%;
    padding-top: 0px;
    padding-bottom: 0px;
}

#header-title {
    white-space: nowrap;
}

#page {
    margin-top: 140px;
}

#titlebar {
    padding-bottom: 20px;
}

td.title-actions {
    padding-top: 20px;
}

#top-menu {
    padding-top: 20px;
}

a0 {
    color: #005a9a;
}

.button {
    background-color: #005a9a;
}

#top-menu .button {
    background-color: white;
    color: #005a9a;
}

#top-menu a {
    color: white;
    text-decoration: none;
}

a.btn-sm {
    color: white;
    text-decoration: none;
}
td.data-column {
    border-bottom: black;
    vertical-align: top;
}

td.label {
    font-weight: bold;
    color: #005a9a;
    width: 10%;
}

td.commit {
    width: 150px;
}

#titlebar {
    background-color: #005a9a;
    color: white;
}

.titlearea {
    padding: 20px;
}

td.title {
    padding-right: 50px;
    font-size: 28pt;
}

.title-actions {
    padding-top: 20px;
}

#logo {
    height: 30px;
    padding-left: 20px;
    padding-right: 20px;
}

#header-title {
    font-size: xx-large;
    padding-top: 10px;
}

#footer-version {
    font-size: smaller;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: -10px;
    float: right;
}


.w100 {
    width: 100px;
}
.w150 {
    width: 150px;
}
.w200 {
    width: 200px;
}
.w250 {
    width: 250px;
}
.w300 {
    width: 300px;
}
.w400 {
    width: 400px;
}
.w500 {
    width: 500px;
}
